* {
    outline: 1px solid red;
}

h1{
   color: blueviolet;
   font-size: 50px; 
}
.blue{
    color: blue;
    background-color: bisque;
    text-align: center;
}
.red{
    color: red;
    background-color: azure;
}
.header{
    height: 50px;
}
input {
    padding: 5px;
    border-color: rebeccapurple;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}

input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}
