.container {
    padding: 10px 5px;
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}

.top-nav {
    width: 914px;
    height: 150px;
    margin-bottom: 30px;
    background-color: green;
}

.side-nav {
    display: inline-block;
    height: 210px;
    width: 200px;
    background-color: blue;
}

.main {
    padding-left: 12px;
    padding-top: 10px;
    height: 400px;
    width: 700px;
    margin-left: 10px;
    background-color: red;
    /* display: flex; */
    /* align-items: center; */
}

.sub-content {
    margin: 8px 11px;
    height: 200px;
    width: 195px;
    background-color: yellow;
    display: inline-block;
}

#advertisement {
    padding: 0px 10px;
    height: 120px;
    width: 610px;
    margin: 10px 33px;
    background-color: purple;
}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

}